{% with title="Home" %}
    {% include "components/top.html" %}
{% endwith %}

<script src="/static/js/sse.js"></script>
<script src="/static/js/emoji_keyboard.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>

<link rel="stylesheet" href="/static/stylesheets/emoji_keyboard.css">

{% with class="hx-floating-alert" %}
    {% include "components/flasher.html" %}
{% endwith %}

<body class="hx-chat" onload="window.scrollTo(0, document.body.scrollHeight);">
    <div class="hx-main hx-chat-layout">
        <div class="hx-sidebar" id="room-chooser">
            <i class="bi bi-chevron-left hx-close-room-chooser" title="Go back to your chat" onclick="closeRoomChooser();" id="room-chooser-close"></i>
            <h1>Rooms <a class="hx-alt-tab hx-profile-tab" onclick="openProfileOnMobile();">&nbsp;Profile</a></h1>

            <div class="hx-sidebar-content">
                {% for room in rooms %}
                <a href="/@{{ room.id }}" class="hx-button">
                    <div class="hx-item {{ 'hx-active' if room.selected else '' }}" title="Click to chat">
                        {% if room.icon %}
                            <img src="{{ room.icon }}">
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                            </svg>
                        {% endif %}
                        <span>{{ room.name }}</span>
                    </div>
                </a>
                {% endfor %}

                <a class="hx-button">
                    <div class="hx-item hx-plus" title="Add a friend or room" onclick="openNew();">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                            <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                            <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                        <span>Add new</span>
                    </div>
                </a>

                <div class="hx-new-popup">
                    <div class="hx-content" id="new-popup">
                        {% if not current_user.username %}
                        <br>
                        <a href="/register">
                            <button class="hx-action-button">
                                <i class="bi bi-person-circle"></i>
                                Register to access these features:
                            </button>
                        </a>
                        {% endif %}

                        <div class="{{ 'hx-login-wall' if not current_user.username else '' }}">
                            <h2>
                                <a class="hx-tab" href="#room">Rooms</a>
                                <a class="hx-alt-tab" href="#username">&nbsp;Friends</a>
                            </h2>
                            <i class="bi bi-chevron-left hx-close-new" title="Close window" onclick="closeNew();" id="new-close"></i>
                            
                            <h3>
                                <i class="bi bi-plus-square"></i>
                                Create a new room
                            </h3>
                            <form method="POST" action="/room/create">
                                <input
                                    type="text"
                                    id="room"
                                    name="room"
                                    placeholder="Room name"
                                />
                            </form>
                            <h4>
                                <i class="bi bi-arrow-right"></i>
                                How to join a room
                            </h4>
                            <p>
                                You need to be invited to join a chat room.
                                <br>
                                Please ask the room owner for a invitation link!
                            </p> 
                            <hr>
                            <h3>
                                <i class="bi bi-people"></i>
                                Add a friend
                            </h3>
                            <form method="POST" action="/search/friends">
                                <input
                                    type="text"
                                    id="username"
                                    name="username"
                                    placeholder="You friend's username..."
                                />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hx-user-profile" id="user-profile">
                <div class="hx-content" title="Your user profile" onclick="openProfile();">
                    <img src="{{ avatar }}">
                    <span id="username-label">{{ current_user.username or 'Guest' }} </span>
                </div>
            </div>
            <div class="hx-profile-popup" id="profile-popup">
                <i class="bi bi-chevron-left hx-close-profile" title="Go back to your chat" onclick="closeProfile();" id="profile-close"></i>
                <br>
                <h1>Your Profile</h1>
                <form action="/avatar/change" id="avatar-form" method="POST" enctype="multipart/form-data">
                    <input type="file" id="avatar-upload" class="hx-avatar-upload" name="avatar" onchange="document.querySelector('#avatar-form').submit();"/>
                </form>
                <div class="hx-avatar-add">
                    <img title="Upload a new avatar" onclick="document.getElementById('avatar-upload').click();"  src="https://cdn-icons-png.flaticon.com/512/5007/5007662.png">                
                </div>
                <img src="{{ avatar }}">

                <h2>{{ this_user.name or 'Guest' }}
                    {% if this_user.verified %}
                        <i title="Verified" class="bi bi-patch-check-fill hx-verified"></i>
                    {% endif %}
                </h2>
                <p>User ID: <span class="hx-text-light">{{ this_user.id or '-1' }}</span></p>
                <p>Rooms: <span class="hx-text-light">{{ this_user.rooms | length or '0' }}</span></p>
                <p>Friends: <span class="hx-text-light">{{ this_user.friends | length or '0' }}</span></p>

                <a class="hx-button" onclick="openNew();">
                    <button class="hx-action-button">
                        <i class="bi bi-send-plus"></i>
                        Add friends and rooms
                    </button>
                </a>
                <br>
                <a href="/logout" class="hx-button">
                    <button class="hx-action-button hx-yellow">
                        <i class="bi bi-door-closed"></i>
                        Log out
                    </button>
                </a>
                <a class="hx-button" onclick="accountDeletionWarning();">
                    <button class="hx-action-button hx-red">
                        <i class="bi bi-person-dash"></i>
                        Delete account
                    </button>
                </a>
                <div class="hx-deletion-warning" id="deletion-warning">
                    <p>The deletion of your account is <strong>irreversible</strong>.</p>
                    <p>This is the last warning. To <strong>permanently delete your account</strong>, please type your password below.</p>
                    
                    <form method="POST" action="/delete">
                        <input
                            class="hx-red"
                            type="password"
                            id="password"
                            name="password"
                            placeholder="•••••••••••"
                        />
                    </form>

                    <p>Press enter to confirm the deletion.</p>
                </div>
            </div>
        </div>
        <div class="hx-chatbox" id="chat-box">
            <div class="hx-chat-top-bar" title="Open details" onclick="openRoomDetails();">
                {% if room.icon %}
                    <img src="{{ room.icon }}">
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                    </svg>
                {% endif %}

                <h1>{{ room.name or 'Example Room' }}<span>HELIX Room</span></h1>

                <div class="hx-chat-menu" title="Switch to another chat room" onclick="openRoomChooser();">
                    <i class="bi bi-list"></i>
                </div>
            </div>
            <div class="hx-room-details-popup" id="room-details-popup">
                <i class="bi bi-chevron-left hx-close-room-details" title="Go back to your chat" onclick="closeRoomDetails();" id="room-details-close"></i>
                <br>
                {% if room.icon %}
                    <img src="{{ room.icon }}">
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                    </svg>
                {% endif %}

                <h1>{{ room.name or 'Demo Room' }}</h1>

                <p>ID: <span class="hx-text-light">{{ room.id or '-1' }}</span></p>
                <a class="hx-button">
                    <button class="hx-action-button hx-yellow">
                        <i class="bi bi-trash"></i>
                        Clear chat
                    </button>
                </a>
                <a class="hx-button">
                    <button class="hx-action-button hx-red">
                        <i class="bi bi-person-dash"></i>
                        Leave conversation
                    </button>
                </a>
            </div>
            <div class="hx-chat-history" id="chat-history">
                <div class="hx-message hx-day">
                </div>
            </div>

            <div class="hx-input-box">
                <div class="hx-emoji-selection" id="emoji-picker">
                    <svg title="Choose an emoji..." class="hx-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                    </svg>
                </div>
                <div style="{{ 'cursor: not-allowed' if not room.name else '' }}" class="hx-message-input"> 
                    <input style="{{ 'pointer-events: none;' if not room.name else '' }}" type="text" id="message-input" placeholder="{{ 'Message' if room.name else 'Message (just a demo!)' }}" autofocus>
                </div>
                <div class="hx-upload" onclick="alert('Coming soon!');">
                    <form action="/upload/" id="file-form" method="POST" enctype="multipart/form-data">
                        <input type="file" id="file-upload" name="upload" onchange="document.getElementById('file-form').submit();"/>
                    </form>    
                    <i class="bi bi-upload"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/chat.js"></script>

    <script>
        // Display all old messages
        {% for msg in msgs %}
            receive('{{ msg }}')
        {% endfor %}
    </script>
</body>
    
{% with hide_footer=true %}
    {% include "components/end.html" %}
{% endwith %}