{% with title="Home" %}
    {% include "components/top.html" %}
{% endwith %}

<script src="/static/js/emoji_keyboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>

<link rel="stylesheet" href="/static/js/emoji_keyboard.css">

{% with class="hx-floating-alert" %}
    {% include "components/flasher.html" %}
{% endwith %}

<body class="hx-chat" onload="window.scrollTo(0, document.body.scrollHeight);">
    <div class="hx-main hx-chat-layout">
        <div class="hx-sidebar" id="room-chooser">
            <i class="bi bi-chevron-left hx-close-room-chooser" title="Go back to your chat" onclick="closeRoomChooser();" id="room-chooser-close"></i>
            <h1>Rooms <a class="hx-profile-tab" onclick="openProfileOnMobile();">&nbsp;Profile</a></h1>

            <div class="hx-sidebar-content">
                {% for room in rooms %}
                <a href="/{{ room.id }}" class="hx-button">
                    <div class="hx-item {{ 'hx-active' if room.is_active else '' }}" title="Click to chat">
                        <img src="{{ room.avatar }}">
                        <span>{{ room.name }}</span>
                    </div>
                </a>
                {% endfor %}

                <a href="/chat/+" class="hx-button">
                    <div class="hx-item hx-plus" title="Add a friend or room">
                        <img src="https://cdn.pixabay.com/photo/2016/10/10/01/49/plus-1727487_960_720.png">
                        <span>Add new</span>
                    </div>
                </a>
            </div>

            <div class="hx-user-profile" id="user-profile">
                <div class="hx-content" title="Your user profile" onclick="openProfile();">
                    <img src="{{ avatar }}">
                    <span>{{ current_user.username }}</span>
                </div>
            </div>
            <div class="hx-profile-popup" id="profile-popup">
                <i class="bi bi-chevron-left hx-close-profile" title="Go back to your chat" onclick="closeProfile();" id="profile-close"></i>
                <br>
                <h1>Your Profile</h1>
                <img src="{{ rooms[0].avatar }}">

                <h2>{{ current_user.username }}</h2>
                <p>User ID: <span class="hx-text-light">{{ current_user.id }}</span></p>

                <a href="/logout" class="hx-button">
                    <button class="hx-action-button hx-yellow">
                        <i class="bi bi-door-closed"></i>
                        Log out
                    </button>
                </a>
                <a href="#delete-account" class="hx-button" onclick="accountDeletionWarning();">
                    <button class="hx-action-button hx-red">
                        <i class="bi bi-person-dash"></i>
                        Delete account
                    </button>
                </a>
                <div class="hx-deletion-warning" id="deletion-warning">
                    <p>The deletion of your account is <strong>irreversible</strong>.</p>
                    <p>This is the last warning. To <strong>permanently delete your account</strong>, please type your password below.</p>
                    
                    <form method="POST" action="/delete">
                        <input
                            class="hx-red"
                            type="password"
                            id="password"
                            name="password"
                            placeholder="•••••••••••"
                        />
                    </form>
                </div>
            </div>
        </div>
        <div class="hx-chatbox" id="chat-box">
            <div class="hx-chat-top-bar" title="Open details" onclick="openRoomDetails();">
                <img src="{{ rooms[0].avatar }}">
                <h1>Baz</h1>
                
                <div class="hx-chat-menu" title="Switch to another chat room" onclick="openRoomChooser();">
                    <i class="bi bi-list"></i>
                </div>
            </div>
            <div class="hx-room-details-popup" id="room-details-popup">
                <i class="bi bi-chevron-left hx-close-room-details" title="Go back to your chat" onclick="closeRoomDetails();" id="room-details-close"></i>
                <br>
                <img src="{{ rooms[0].avatar }}">
                <h1>Baz</h1>
                <p>User ID: <span class="hx-text-light">12234</span></p>
                <a href="" class="hx-button">
                    <button class="hx-action-button">
                        <i class="bi bi-bell-slash"></i>
                        Mute
                    </button>
                </a>
                <a href="" class="hx-button">
                    <button class="hx-action-button hx-red">
                        <i class="bi bi-person-dash"></i>
                        Remove
                    </button>
                </a>
            </div>
            <div class="hx-chat-history">
                <div class="hx-message hx-foreign">
                    <div class="hx-content">
                        Dude, look at this photo I totally indeed took and surely didn't copy from the interwebz:
                        <span class="hx-time">9:46 PM</span>
                    </div>
                </div>
                <div class="hx-message hx-foreign">
                    <div class="hx-content">
                        <img src="https://cdn.pixabay.com/photo/2022/08/19/01/06/ferris-wheel-7395944_960_720.jpg">
                        <span class="hx-time">9:46 PM</span>
                    </div>
                </div>
                <div class="hx-message hx-own">
                    <div class="hx-content">
                        yoo
                        <span class="hx-time">9:57 PM</span>
                    </div>
                </div>
                <div class="hx-message hx-foreign">
                    <div class="hx-content">
                        😎
                        <span class="hx-time">9:46 PM</span>
                    </div>
                </div>
                <div class="hx-message hx-day">
                    Today
                </div>           
                <div class="hx-message hx-foreign">
                    <div class="hx-content">
                        <div class="hx-author">
                            Baz
                        </div>
                        bye
                        <span class="hx-time">9:46 PM</span>
                    </div>
                </div>
                <div class="hx-message hx-system">
                    <i class="bi bi-arrow-left hx-leave"></i>
                    Baz left the group
                </div> 
                <div class="hx-message hx-system">
                    <i class="bi bi-arrow-right hx-join"></i>
                    Baz joined the group
                </div> 
                <div class="hx-message hx-own">
                    <div class="hx-content">
                        welcome back
                        <span class="hx-time">9:56 PM</span>
                    </div>
                </div>
                <div class="hx-message hx-own">
                    <div class="hx-content">
                        :)
                        <span class="hx-time">9:57 PM</span>
                        <i class="bi bi-check2-all hx-read"></i>
                    </div>
                </div>    
            </div>
            <div class="hx-input-box">
                <div class="hx-emoji-selection" id="emoji-picker">
                    <img title="Choose an emoji..." src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/322/grinning-face-with-big-eyes_1f603.png">
                </div>
                <div class="message-input"> 
                    <input type="text" id="message-input" placeholder="Message" autofocus>
                </div>
            </div>
        </div>
    </div>
</body>

{% include "chat/templates/js.html" %}
    
{% with hide_footer=true %}
    {% include "components/end.html" %}
{% endwith %}