<script>
    const zone = document.getElementById("message-input");
    var emojiKeyboard = new EmojiKeyboard;
    emojiKeyboard.callback = (emoji, closed) => {
        zone.value = zone.value + emoji.emoji;
    };
    emojiKeyboard.resizable = true;
    emojiKeyboard.default_placeholder = "Search Emojis...";
    emojiKeyboard.instantiate(document.getElementById("emoji-picker"))
</script>
<script>
    var roomDetails = document.getElementById("room-details-popup").style
    var profile = document.getElementById("room-details-popup").style
    var menuChooser = document.getElementById("room-chooser").style
    var chat = document.getElementById("chat-box").style
    var userProfile = document.getElementById("user-profile").style
    var profilePopup = document.getElementById("profile-popup").style
    var deletionWarning = document.getElementById("deletion-warning").style
    
    function hideChat() {
        chat.display = "none";
        userProfile.display = "none";
    }

    function showChat() {
        userProfile.display = "inherit";
        chat.display = "inherit";
    }

    function accountDeletionWarning() {
        deletionWarning.height = "100%";
        deletionWarning.opacity = "1";
    }

    // Profile Window
    function openProfile() {
        hideChat();
        profilePopup.height = "100%";
        profilePopup.opacity = "1";
    }

    function openProfileOnMobile() {
        profilePopup.height = "100%";
        profilePopup.opacity = "1";
    }
    
    function closeProfile() {
        if (window.innerWidth > 1200) {
            showChat();
        }

        profilePopup.height = "0%";
        profilePopup.opacity = "0";
    }

    function openRoomDetails() {
        roomDetails.height = "100%";
        roomDetails.opacity = "1";
    }
    
    function closeRoomDetails() {
        roomDetails.height = "0%";
        roomDetails.opacity = "0";
    }

    function openRoomChooser() {
        hideChat();
        event.stopPropagation();

        menuChooser.width = "100%";
        menuChooser.opacity = "1";
    }
    
    function closeRoomChooser() {
        chat.display = "none";
        if (window.innerWidth > 1200) {
            showChat();
        }
        
        chat.display = "none";
        chat.display = "none";

        menuChooser.width = "0%";
        menuChooser.opacity = "0";
    }

</script>
