{% with title="Home", blueprint="base" %}
    {% include "components/top.html" %}
{% endwith %}

<body class="hx-base">
    {% include "components/pjs.html" %}

    <div class="hx-main">
        <h1 class="hx-huge">
            A new way
            of connecting
        </h1>
        <p>
            Helix is a simple, lightweight, <a href="https://github.com/nsde/helix">open source</a>
            and modern messenger without creepy tracking.
        </p>
        <br>

        <a href="/register" class="hx-button">
            <button class="hx-outline hx-primary">What are you waiting for?</button>
        </a>
        <br><br>
        <a href="/chat" class="hx-button" target="_blank">
            <button class="hx-alt hx-secondary">
                Login as a guest
            </button>
        </a>
    </div>
</body>

{% include "components/end.html" %}