{% with title="Home", blueprint="base" %}
    {% include "components/top.html" %}
{% endwith %}

<body class="hx-base">
    {% include "components/pjs.html" %}

    <div class="hx-main">
        <div class="hx-form">
            <h1>Log into your account</h1>
            <p>Don't have an account yet? <a href="/register">Register now</a>!</p>
            <br>
       
            {% include "components/flasher.html" %}
            
            <form method="POST">
                <div class="hx-group">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="IceDragon42"
                        autofocus
                    />
                </div>
                <br>
                <div class="hx-group">
                    <label for="password">
                        Password
                        <!-- <a id="password-reset" href="/login/password-reset">Forgotten?</a> -->
                    </label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="•••••••••••"
                    />
                </div>
                <button type="submit" class="hx-primary hx-outline hx-wide">
                    Login
                </button>
            </form>
        </div>
    </div>
</body>

{% include "components/end.html" %}