$fg: #ffffff
$fg-grey: #a8a8a88e
$fg-alt: #b28ff7
$fg-accent: #cec4ee

$bg: #141415
$bg-pop: #181719df
$bg-red: #7c14148f
$bg-dim: #0f0f0f
$bg-alert: #ffffff04
$bg-light: #6a6a6a24
$bg-input: #2524298f
$bg-shadow: #00000061

$accent: #5832d4
$accent-alt: #4b1ca9
$accent-text: #8663f9
$accent-blueish: #6c25f9

$success: #18b718
$warn: #bb5202
$danger: #df2a19