a.hx-button {
  text-decoration: none !important;
}

div.hx-sidebar {
  width: 20%;
  height: 100%;
  z-index: 1;
  position: fixed;
  box-shadow: 0 0 35px black;
}
div.hx-sidebar h1 {
  margin-top: 0;
}
div.hx-sidebar div.hx-sidebar-content {
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
}
div.hx-sidebar div.hx-sidebar-content div.hx-item {
  padding: 1rem;
  width: 80%;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
div.hx-sidebar div.hx-sidebar-content div.hx-item img, div.hx-sidebar div.hx-sidebar-content div.hx-item svg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
div.hx-sidebar div.hx-sidebar-content div.hx-item svg {
  border-radius: 0;
}
div.hx-sidebar div.hx-sidebar-content div.hx-item span {
  padding: 1rem;
  font-size: larger;
  position: relative;
  top: -15px;
}
div.hx-sidebar div.hx-sidebar-content div.hx-item:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.0156862745);
}
div.hx-sidebar div.hx-sidebar-content div.hx-item.hx-active {
  background: rgba(106, 106, 106, 0.1411764706);
}
div.hx-sidebar div.hx-sidebar-content div.hx-item.hx-plus {
  opacity: 0.5;
  border: 3px dotted rgba(168, 168, 168, 0.5568627451);
}
div.hx-sidebar div.hx-sidebar-content div.hx-item.hx-plus:hover {
  opacity: 0.8;
}
div.hx-sidebar div.hx-user-profile {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 80%;
  margin-top: 1rem;
  padding-top: 1rem;
  background: #0f0f0f;
  border-top: 2px solid rgba(168, 168, 168, 0.5568627451);
}
div.hx-sidebar div.hx-user-profile h1 {
  margin-bottom: 0;
}
div.hx-sidebar div.hx-user-profile img {
  height: 50px;
  position: relative;
  top: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 2px solid rgba(168, 168, 168, 0.5568627451);
}
div.hx-sidebar div.hx-user-profile span {
  font-weight: bold;
}
div.hx-sidebar div.hx-user-profile button {
  font-size: small;
  padding: 0.5rem;
}
div.hx-sidebar div.hx-user-profile button, div.hx-sidebar div.hx-user-profile button i {
  color: #df2a19;
}
div.hx-sidebar div.hx-user-profile button:hover {
  background: #df2a19;
}
div.hx-sidebar div.hx-user-profile button:hover, div.hx-sidebar div.hx-user-profile button:hover i {
  color: #ffffff;
}
div.hx-sidebar div.hx-user-profile div.hx-content:hover {
  cursor: pointer;
  opacity: 0.5;
}
div.hx-sidebar div.hx-profile-popup {
  text-align: center;
  background: #0f0f0f;
  height: 100%;
  width: 100%;
  opacity: 1;
  position: fixed;
  height: 0;
  z-index: 1200;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: height 0.5s ease-out, opacity 0.5s;
}
div.hx-sidebar div.hx-profile-popup img {
  border-radius: 50%;
  height: 100px;
}
div.hx-sidebar div.hx-profile-popup img:hover {
  cursor: pointer;
  opacity: 0.7s;
}
div.hx-sidebar div.hx-profile-popup .hx-close-profile {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
div.hx-sidebar div.hx-profile-popup .hx-close-profile:hover {
  cursor: pointer;
  background: #141415;
}
div.hx-sidebar div.hx-profile-popup .hx-close-profile:active {
  opacity: 0.6;
}

div.hx-chat-top-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #141415;
  z-index: 800;
  padding: 0.5rem;
  padding-top: 0;
}
div.hx-chat-top-bar img, div.hx-chat-top-bar svg {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  top: 10px;
  margin-right: 5px;
}
div.hx-chat-top-bar h1 {
  margin: 0;
  display: inline-block;
}
div.hx-chat-top-bar div.hx-chat-menu {
  float: right;
  font-size: 2rem;
  position: relative;
  top: 5px;
  padding: 5px;
  width: 60px;
  border-radius: 50%;
}
div.hx-chat-top-bar div.hx-chat-menu i {
  left: 5px;
}
div.hx-chat-top-bar div.hx-chat-menu:hover {
  opacity: 0.5;
}
div.hx-chat-top-bar:hover {
  cursor: pointer;
  background: #0f0f0f;
}

div.hx-chat-history {
  background: #0f0f0f;
  margin-bottom: 2rem;
}

.hx-tab {
  text-decoration: none !important;
}

.hx-alt-tab {
  opacity: 0.4;
  text-decoration: none !important;
}
.hx-alt-tab:hover {
  cursor: pointer;
  opacity: 0.2;
}

@media (max-width: 1200px) {
  div.hx-sidebar {
    display: none;
  }
  .hx-profile-tab {
    display: inline-block !important;
  }
  div.hx-chatbox div.hx-input-box input {
    width: 85vw;
  }
  .hx-close-room-chooser {
    display: block;
    position: absolute;
    left: 0.2rem;
    top: 0.2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 600;
  }
  .hx-close-room-chooser:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  div.hx-sidebar {
    top: 0;
    left: 0;
    width: 60%;
    opacity: 0;
    padding: 3rem;
    z-index: 500;
    background: #141415;
    transition: width 1s ease-in-out;
  }
  div.hx-sidebar div.hx-sidebar-content {
    width: 80%;
  }
  div.hx-chatbox {
    margin-left: 0 !important;
  }
}
div.hx-chat-history {
  padding: 1rem;
  margin-bottom: 4rem;
}

html.hx > body.hx-chat {
  padding: 0 !important;
  background: #0f0f0f !important;
}

div.hx-chatbox {
  height: 100%;
  margin-left: calc(20% + 6rem);
}
div.hx-chatbox div.hx-message {
  width: 100%;
  display: inline-block;
  margin-bottom: 1rem;
}
div.hx-chatbox div.hx-message div.hx-content {
  padding: 1rem;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: 200px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3803921569);
  border-radius: 10px;
}
div.hx-chatbox div.hx-message div.hx-content div.hx-author {
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #8663f9;
}
div.hx-chatbox div.hx-message div.hx-content img {
  max-width: 80vw;
  max-height: 400px;
  border-radius: 10px;
}
div.hx-chatbox div.hx-message div.hx-content span.hx-time {
  padding-left: 5px !important;
  opacity: 0.5;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 0.7rem;
  position: relative;
}
div.hx-chatbox div.hx-message.hx-foreign div.hx-content {
  background: rgba(106, 106, 106, 0.1411764706);
  border-bottom-left-radius: 0;
}
div.hx-chatbox div.hx-message.hx-own div.hx-content {
  float: right;
  background: #5832d4;
  border-bottom-right-radius: 0;
}
div.hx-chatbox div.hx-message.hx-day {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  margin-top: 2rem;
}
div.hx-chatbox div.hx-message.hx-system {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-style: italic;
  opacity: 0.6;
}
div.hx-chatbox div.hx-message .hx-read {
  position: relative;
  top: 15px;
  left: 5px;
}
div.hx-chatbox div.hx-message .hx-leave {
  color: #df2a19;
}
div.hx-chatbox div.hx-message .hx-join {
  color: #18b718;
}
div.hx-chatbox div.hx-input-box {
  z-index: 200;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #0f0f0f;
  padding-bottom: 1rem;
}
div.hx-chatbox div.hx-input-box div.hx-emoji-selection {
  display: block;
  margin-top: -30px;
}
div.hx-chatbox div.hx-input-box div.hx-emoji-selection img {
  height: 40px;
  width: 40px;
  position: relative;
  top: 60px;
  left: 15px;
  margin-right: 5px;
}
div.hx-chatbox div.hx-input-box div.hx-emoji-selection img:hover {
  cursor: pointer;
  opacity: 0.8;
}
div.hx-chatbox div.hx-input-box div.hx-emoji-selection img:active {
  opacity: 0.6;
}
div.hx-chatbox div.hx-input-box input {
  width: 60%;
  margin-left: 70px;
  font-size: larger;
  background: rgba(106, 106, 106, 0.1411764706);
}
div.hx-chatbox div.hx-input-box input:focus {
  outline: none;
}

@media (min-width: 1200px) {
  div.hx-sidebar {
    padding: 3rem;
  }
  div.hx-user-profile {
    margin: 3rem;
  }
  div.hx-chat-top-bar i.hx-chat-menu {
    display: none;
  }
  .hx-chat-menu {
    display: none;
  }
}
.hx-close-room-chooser {
  display: none;
}

@media (max-width: 1200px) {
  div.hx-chatbox div.hx-input-box input {
    width: 95vw;
  }
  div.hx-chatbox div.hx-input-box input {
    width: 75vw;
  }
}
div.hx-room-details-popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1200;
  opacity: 1;
  position: fixed;
  text-align: center;
  background: #0f0f0f;
  overflow-x: hidden;
  transition: height 0.5s ease-out, opacity 0.5s;
}
div.hx-room-details-popup img, div.hx-room-details-popup svg {
  margin-top: 3rem;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
div.hx-room-details-popup img:hover, div.hx-room-details-popup svg:hover {
  cursor: pointer;
  opacity: 0.7s;
}
div.hx-room-details-popup .hx-close-room-details {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
div.hx-room-details-popup .hx-close-room-details:hover {
  cursor: pointer;
  background: #141415;
}
div.hx-room-details-popup .hx-close-room-details:active {
  opacity: 0.6;
}

button.hx-action-button {
  border-radius: 10px !important;
}
button.hx-action-button i {
  margin-right: 5px;
}
button.hx-action-button.hx-yellow:hover {
  background: #bb5202 !important;
}
button.hx-action-button.hx-red:hover {
  background: #df2a19 !important;
}

span.hx-text-light {
  opacity: 0.6;
}

@-webkit-keyframes breathingAlert {
  from {
    border-bottom: 2px solid transparent;
  }
  to {
    border-bottom: 2px solid rgba(168, 168, 168, 0.5568627451);
  }
}

@keyframes breathingAlert {
  from {
    border-bottom: 2px solid transparent;
  }
  to {
    border-bottom: 2px solid rgba(168, 168, 168, 0.5568627451);
  }
}
div.hx-floating-alert {
  top: 1rem;
  left: 1rem;
  z-index: 9000;
  position: fixed;
  max-width: 300px;
  background: rgba(24, 23, 25, 0.8745098039) !important;
  box-shadow: 0 0 15px black;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-animation: breathingAlert 1s linear infinite alternate;
          animation: breathingAlert 1s linear infinite alternate;
}
div.hx-floating-alert i.hx-close {
  display: inherit;
}

div.hx-deletion-warning {
  opacity: 0;
  height: 0;
}

.hx-profile-tab {
  display: none;
}

div.hx-new-popup div.hx-content {
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1800;
  opacity: 1;
  position: fixed;
  text-align: center;
  background: #0f0f0f;
  overflow-x: hidden;
  transition: height 0.5s ease-out, opacity 0.5s;
}
div.hx-new-popup div.hx-content hr {
  opacity: 0.5;
  width: 350px;
}
div.hx-new-popup div.hx-content input {
  font-size: larger;
}
div.hx-new-popup .hx-close-new {
  top: 1rem;
  left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  position: absolute;
  font-size: 1.5rem;
  border-radius: 50%;
}
div.hx-new-popup .hx-close-new:hover {
  cursor: pointer;
  background: #141415;
}
div.hx-new-popup .hx-close-new:active {
  opacity: 0.6;
}/*# sourceMappingURL=hxchat.css.map */